body{
    background-image: url("fondo.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
:root{
    --font-family: Georgia, 'Times New Roman', Times, serif;
}
label{
    font-family: var(--font-family);
    font-size: 20px;
    color: white;

}
div{
    margin-top:90px;
    border: rgba(0, 0, 0, 0) solid 0.5px;
    width: fit-content;
    text-align: left;
    margin-left: 500px;
    border-radius: 10px;
    background-color: rgba(12, 11, 11, 0);
}
input{
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
   /** margin-left: 20px;**/
    margin-right: 20px;
    width: 200px;
    text-align: left;
    height: 20px;
}
select{
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 200px;
    height: 20;
}
.enviar{
    border-radius: 10px;
    /**background-color: lawngreen;**/
    margin-bottom: 10px;
    background-image: url("whasat.png");
    background-position: center;
    background-size: cover;
    height: 40px;
    width: 40px;
    padding: 10px;
    margin-left: 80px;
}
.enviar:hover{
    box-shadow: white 0px 0px 15px 1px;
}