
body{
    background-size: 100vw 100vh;
    background-attachment: fixed;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
form{
    width: 450px;
    margin: auto;
    background: rgba(135, 135, 209, 0);
    padding: 10px, 20px;
    box-sizing: border-box;
    margin-top: 200px;
    border-radius: 10px;
}
h2{
    color: rgb(42, 20, 136);
    text-align: center;
    margin: 0;
    font-size: 50px;
    margin-bottom: 20px;
}
input, textarea{
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 17px;
    border: none;
}
textarea{
    min-height: 100px;
    max-height: 250px;
    max-width: 100%;
}
#boton{
    background: orangered;
    color: aliceblue;
    padding: 20px;
    border-radius: 50px;
}
#boton:hover{
    cursor: pointer;
}
@media (max-width: 480px){
    form{
        width: 100%;
    }
}